
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<button id="btnCargar" class="btn-link">Cargar</button>
<br /><br />
<select id="cboMembershipTypes" class="form-control"></select>
<br />

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
                
    </tbody>
</table>

@*@foreach (var customer in Model)
{
    <tr>
        <td>@Html.ActionLink(customer.name, "Details", "Customers", new { id = customer.id }, null)</td>
        <td>@customer.membershipType.name</td>
        <td>@customer.membershipType.DiscountRate%</td>
    </tr>
}*@


@using (Html.BeginForm("Create", "Customers"))
{
    <div class="from-group">
        @Html.Label("nombre")
        @Html.TextBox("txtNombre", "", new { id = "txtNombre"})
    </div>    
}
<div>
    <button id="btnCrear" class="btn-default">Crear</button>
</div>


@*'@Html.ActionLink("dis", "Details", "Customers", new { id = item.name }, null)'*@

@section scripts
{
    <script>
        //$("#customers").find("tbody").add("tr");
        //$("#customers").find("tbody").append("<tr><td>"+item.name+"</td></tr>");

        //var tr = $("#customers3").find("tbody").append("<tr></tr>");
        //tr.append("<td>" + item.name + "</td>");
        //tr.append("<td>" + item.membershipType.name + "</td>");
        //tr.append("<td>" + item.membershipType.DiscountRate + "%</td>");


        function DetalleCustomer(id) {
            var url = "http://" + window.location.host + "/Customers/Details/" + id;
            console.log(url);
            window.location = url;

            //console.log(id, window.location.host, window.location.hostname, window.location.pathname, window.location.origin, window.location.href);
        }

        function SeleccionarCbo(id) {
            console.log("onclick de la opcion", id);
        }

        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:51853/api/MembershipTypes",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach(function (item, index) {
                        $("#cboMembershipTypes").append("<option value='" + item.id + "' onclick='SeleccionarCbo(" + item.id + ")'>" + item.name + "</option>");
                    });
                }
            });

            $("#cboMembershipTypes").on("change", function () {
                //var x = document.getElementById("cboMembershipTypes").value;
                var x = $("#cboMembershipTypes").val();
                console.log("onchange", x);                
            });

            $("#btnCargar").on("click", function () {
                $.ajax({
                    url: "http://localhost:51853/api/Customers",
                    method: "GET",
                    dataType: "json",
                    success: function (data) {
                        data.forEach(function (item, index) {
                            $("#customers").find("tbody").append("<tr>"
                                + "<td onClick='DetalleCustomer(" + item.id + " )' class='btn btn-primary'>" + - + "</td>"
                                + "<td>" + item.membershipType.name + "</td>"
                                + "<td>" + item.membershipType.DiscountRate + "</td>"
                                + "</tr>");
                        });
                    }
                });
            });


            $("#btnCrear").on("click", function () {
                $.ajax({
                    url: "http://localhost:51853/api/MembershipTypes",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; utf-8",
                    data: "{'id':0,'signUpFee':0,'durationInMonths':0,'DiscountRate':0,'name':'un nuevo nombre'}",

                    success: function (data) {
                        console.log(data);
                    }
                });
            });

        });
    </script>
}


